// @use "vuetify/settings";

@use "vuetify/settings" with (
  // # VBadge
  $badge-font-size: .88rem,
  // $badge-padding: 10px 10px,
  $badge-height: 22px,
  $badge-min-width: 22px,
  $badge-border-radius: 11px,

  // 
);

