import { stripSlashesEnd } from "../utils/strip-slashes-end";

export const PRODUCTION$: boolean =

// # api
export const API_URL_dev =
export const API_URL_production =
export const API_URL = stripSlashesEnd(
  PRODUCTION$ ? API_URL_production : API_URL_dev
);
export const URL_API_status = API_URL;
export const URL_DOCS = `${API_URL}/docs`;
export const URL_AUTH_register = `${API_URL}/auth/register`;
export const URL_AUTH_login = `${API_URL}/auth/login`;
export const URL_AUTH_logout = `${API_URL}/auth/logout`;
export const URL_API_who = `${API_URL}/auth/who`;
export const ENDPOINT_GRAPHQL = `${API_URL}/graphql`;
export const URL_STORAGE = `${API_URL}/storage`;

// # io
export const IO_SERVER = API_URL;

// #auth
export const DOC_ID_ADMIN =
export const DOC_ID_USER_DEFAULT = PRODUCTION$ ? "" : "";

export const URL_APP_PUBLIC = PRODUCTION$ ? "" : "";
