// included globaly
@import "scrollbars.scss";
@import "reset";

body {
  background-color: #eeebe6;
}

#ID--OrRifT a {
  color: blue !important;
}

#ID--OrRifT blockquote {
  border-left: 0.22rem solid rgba(0, 0, 0, 0.11);
  opacity: 0.88;
  margin-left: 1.22rem;
  font-size: 92%;
}
